html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  padding: 15px 20px;
  height: 100%;
}

.login-form {
  max-width: 500px;
  margin: 100px auto;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.chat-lines {
  flex: 1;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.chat-lines::-webkit-scrollbar {
    -webkit-appearance: none;
}

.chat-lines::-webkit-scrollbar:vertical {
    width: 11px;
}

.chat-lines::-webkit-scrollbar:horizontal {
    height: 11px;
}

.chat-lines::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.chat-lines::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.chat-box {
}
